body {
  background-color: rgb(52, 190, 133);
}

.App {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 20px;
  width: 350px;
}

.num-secret {
  background-color: rgb(66, 61, 61);
  border-radius: 5px;
  color: whitesmoke;
  font-size: 50px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  width: 80px;
}

.btn-start {
  background-color: rgb(58, 141, 235);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.scores {
  display: flex;
  margin-bottom: 20px;
}

.scores div:nth-child(1) {
  background-color: rgb(129, 228, 129);
  border-radius: 5px 0 0 5px;
  padding: 10px 2px 10px 15px;
}

.scores div:nth-child(2) {
  background-color: rgb(235, 105, 101);
  border-radius: 0 5px 5px 0;
  padding: 10px 15px 10px 2px;
}

.response-input {
  display: flex;
}

.response-input input {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 80px;
}

.response-input input:focus {
  outline: none;
}

.response-input button {
  background-color: rgb(58, 141, 235);
  border: none;
  border-radius: 0 5px 5px 0;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
}

.response-input button:disabled {
  background-color: rgb(195, 195, 195);
}

.btn-next {
  background-color: rgb(35, 207, 127);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px;
  width: 150px;
}

.btn-next:disabled {
  background-color: rgb(195, 195, 195);
}
